@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.main-container {
  max-width: 1240px;
  margin: 0 auto;
}
.main-bg {
  background-color: #ad192a;
}
.main-btn {
  background-color: #ad192a;
  color: #fff;
  font-weight: 700;
  padding: 8px 22px;
  border: none;
  border-radius: 4px;
}
.secondary-bg {
  background-color: #f1e8ea;
}
.third-bg {
  background-color: #e9c9cd;
}
.custom-h {
  height: 100vh;
}
.custom-slide-h {
  height: 800px;
}
.custom-slide-w {
  width: 620px;
}
.chef-banner-h {
  height: 16rem;
}
.chef-h {
  height: 700px;
}
.likes-color {
  color: #ad192a;
}
