@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.main-container {
  max-width: 1240px;
  margin: 0 auto;
}
.main-bg {
  background-color: #ad192a;
}
.main-btn {
  background-color: #ad192a;
  color: #fff;
  font-weight: 700;
  padding: 8px 22px;
  border: none;
  border-radius: 4px;
}
.secondary-bg {
  background-color: #f1e8ea;
}
.third-bg {
  background-color: #e9c9cd;
}
.custom-h {
  height: 100vh;
}
.custom-slide-h {
  height: 800px;
}
.custom-slide-w {
  width: 620px;
}
.chef-banner-h {
  height: 16rem;
}
.chef-h {
  height: 700px;
}
.likes-color {
  color: #ad192a;
}
.recipe-img-h {
  height: 256px;
  width: 100%;
}
.favourite-btn {
  border: 1px solid #ad192a;
  padding: 5px 12px !important;
  border-radius: 4px;
}
.active {
  @apply font-medium tracking-wide text-red-700 transition-colors duration-200 hover:text-red-700;
}
.default {
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-red-700;
}
.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 20px;
}
